<footer class="width_float py-1" fixed="bottom">
    <div class="left">
        <div class="demo-wrap">
            <img
              class="demo-bg"
              src="./../../assets/images/bgimg.jfif"
              alt=""
            >
            <div class="demo-content">
                <div class="footer-container">
                    <div>
                        <h5>DOC CARE</h5>
                        <p routerLink=" ">Home</p>
                        <p routerLink="about">About US</p>
                        <p routerLink="why">Why Doc Care?</p>
                        
                    </div>
                    
                    <div>
                        <h5>MEDICAL</h5>
                        <p routerLink="departments">Departments</p>
                        <p>Family Clinic</p>
                        <p>Consultants</p>
                        <p>Surgery</p>
                        <p>Services</p>
                        
                    </div>
                    <div>
                        <h5>POLICIES</h5>
                        <p routerLink="Privacy">Privacy Statement</p>
                        <p routerLink="Terms">Terms and Conditions</p>
                        
                       
                    </div>
                    <div>
                        <h5>SOCIAL</h5>
                        <div class="logo-footer"><img src="https://static.wixstatic.com/media/85f232_feffdbb5e8694787bb99e09598694ba1~mv2.png/v1/fill/w_35,h_35,al_c,q_85,usm_0.66_1.00_0.01/85f232_feffdbb5e8694787bb99e09598694ba1~mv2.webp" alt=""/></div>
                        <div class="logo-footer"><img src="https://static.wixstatic.com/media/e316f544f9094143b9eac01f1f19e697.png/v1/fill/w_35,h_35,al_c,q_85,usm_0.66_1.00_0.01/e316f544f9094143b9eac01f1f19e697.webp" alt=""/></div>
                        <div class="logo-footer"><img src="https://static.wixstatic.com/media/a1b09fe8b7f04378a9fe076748ad4a6a.png/v1/fill/w_35,h_35,al_c,q_85,usm_0.66_1.00_0.01/a1b09fe8b7f04378a9fe076748ad4a6a.webp" alt=""/></div>

                       
                    </div>
                </div>
            </div>
          </div>
    </div>
   
</footer>