<!-- header -->
 <div>
  <header class="header">
      <div>
          <h1 class="hed">Medical Departments</h1>
      </div>
  </header>
</div>
<!-- <div class="b-example-divider"></div> -->
<!-- medical departments -->
<div class="container col-xxl-8 px-1 py-3">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./../../assets/images/doctors.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6"><br><br><br><br>
      <p class="lead">DOCCARE has a panel of dedicated and experienced consultants in various specialities to take complete care of you. All referrals to specialists, both inside and outside the Clinic, will be coordinated by your Family Physician, and we will ensure that you get the best and most appropriate specialist for you</p>
     
    </div>
  </div>
</div>


<br><br>
  <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-outline-success" (click)="navSec('family')">FAMILY CLINIC</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-outline-success" (click)="navSec('general')">GENERAL MD</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-outline-success"(click)="navSec('neuro')">NEUROLOGY</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-outline-success" (click)="navSec('dermo')">DERMATOLOGY</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-outline-success"(click)="navSec('pediatrics')">PEDIATRICS</button>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
<br>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-success" (click)="navSec('cardio')">CARDIOLOGY</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-outline-success" (click)="navSec('gynec')">GYNECOLOGY</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-outline-success" (click)="navSec('diabet')">DIABETOLOGY</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-outline-success" (click)="navSec('ent')">ENT</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-outline-success" (click)="navSec('pulmo')">PULMONOLOGY</button>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

<br>
<br>
<!-- family clinic -->

<div class="container col-xxl-8 px-1 " id='family'>
  <div class="row flex-lg-row-reverse align-items-center g-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./../../assets/images/family.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <br><br><h1 class="heading" >FAMILY CLINIC</h1>
      <p class="lead">Though this is an era of super-specialization and groundbreaking developments in medical technology, we believe that it is the family doctor who can best offer a holistic approach to the human body by preparing a holistic treatment plan and coordinating all referrals, and bring back the personal  loving care that was traditionally associated with the family doctor.</p>
      <br><div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary" (click)="btnClick();">DOCTORS</button>
      </div>
    </div>
  </div>
</div>


<!-- General MD -->

  <div class="container col-xxl-8 px-1 py-1" id='general'>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="./../../assets/images/general.jfif" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <br><br><h1 class="heading" >GENERAL MEDICINE</h1>
        <p class="lead">The specialists in the Internal Medicine (General Medicine) department takes care of your overall health and assesses the health status of your internal organs and systems, thus helping to improve and maintain your general health</p>
        <br><div class="d-flex justify-content-center">
          <button type="button" class="btn btn-outline-primary" (click)="btnClick();" >DOCTORS</button>
        </div>
      </div>
      
    </div>
  </div>
  
<!-- neurology -->


<div class="container col-xxl-8 px-1 py-1" id='neuro'>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./../../assets/images/neuro.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <br><br><h1 class="heading">NEUROLOGY</h1>
      <p class="lead">Our experienced super-specialists in Neurology offer comprehensive assessment and treatment for all neurological conditions, including common problems like headache, stroke, epilepsy, cerebral palsy, numbness, diabetic neuropathy, etc. The department also runs focus-area clinics like the Headache Clinic, the Stroke Management Clinic, the Parkinson's Clinic, etc</p>
      <br><div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary"(click)="btnClick();">DOCTORS</button>
      </div>
    </div>
  </div>
</div>


<!-- DERMATOLOGY -->

<div class="container col-xxl-8 px-1 py-1" id='dermo'>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./../../assets/images/dermatology.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <br><br><h1 class="heading">DERMATOLOGY</h1><br>
      <p class="lead">​The human system most under the assault of the elements, environmental pollution and harmful microbes is perhaps the skin. Our dermatologist will help you understand how to face the daily assaults and to keep your skin healthy.</p>
      <br><div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary"(click)="btnClick();">DOCTORS</button>
      </div>
    </div>
  </div>
</div>

<!--Pedaiatrics  -->

<div class="container col-xxl-8 px-1 py-1" id='pediatrics'>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./../../assets/images/pediatrics.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <br><br><h1 class="heading">PEDIATRICS</h1><br>
      <p class="lead">We always want only the best for our children, especially when it comes to their health. Get the best possible medical care and guidance to help you bring up a healthy and happy child</p>
      <br><div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary"(click)="btnClick();">DOCTORS</button>
      </div>
    </div>
  </div>
</div>

<!-- CARDIOLOGY -->

<div class="container col-xxl-8 px-1 py-1" id='cardio'>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./../../assets/images/cardiology.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <br><br><h1 class="heading">CARDIOLOGY</h1><br>
      <p class="lead">​Take care of your heart with expert guidance and treatment from our experienced

        specialist in Cardiology. Discover the many ways one can continually ensure that our heart is healthy and functioning in the way it should.</p>
        <br><div class="d-flex justify-content-center">
          <button type="button" class="btn btn-outline-primary"(click)="btnClick();">DOCTORS</button>
        </div>
    </div>
  </div>
</div>

<!-- Gynaecology -->
<div class="container col-xxl-8 px-1 py-1" id='gynec'>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./../../assets/images/gynac.jfif" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <br><br><h1 class="heading">GYNAECOLOGY</h1><br>
      <p class="lead">​A caring and professional gynaecologist can give confidence to a woman like nobody else can. Our gynaecological team ensures that you will always be in safe hands, helping you face and address all your concerns and worries.</p>
      <br><div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary"(click)="btnClick();">DOCTORS</button>
      </div>
    </div>
  </div>
</div>

<!-- diabet -->
<div class="container col-xxl-8 px-1 py-1" id='diabet'>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./../../assets/images/diabet.jfif" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <br><br><h1 class="heading">DIABETOLOGY</h1><br>
      <p class="lead">​The unfortunately all-too-common condition that is diabetes needs careful, curated, continuing assessment, management and follow-up to help you manage this condition. Get help from our Diabetology department to ensure that you enjoy the possibility of a healthy energentic lifestyle.</p>
      <br><div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary"(click)="btnClick();">DOCTORS</button>
      </div>
    </div>
  </div>
</div>

<!-- ent -->
<div class="container col-xxl-8 px-1 py-1" id='ent'>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./../../assets/images/ent.jfif" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <br><br><h1 class="heading">ENT</h1><br>
      <p class="lead">​We know how irritated and unhappy we become when we get a sore throat or a nasal congestion or a ear ache. Our ENT specialist will take care of all your difficulties when these sensitive organs get affected.</p>
      <br><div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary"(click)="btnClick();">DOCTORS</button>
      </div>
    </div>
  </div>
</div>

<!-- physio -->
<div class="container col-xxl-8 px-1 py-1" id='pulmo'>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./../../assets/images/pulmon.jfif" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <br><br><h1 class="heading">PULMONOLOGY</h1><br>
      <p class="lead">​In these difficult times, it is imperative that we take special care of our respiratory system. Our specialist consultant in Pulmonology will ensure that you literally breathe easy when pandemics have become part of of our lives.</p>
      <br><div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary"(click)="btnClick();">DOCTORS</button>
      </div>
    </div>
  </div>
</div>

<!-- contact details -->
<div class="more">
  <div class="row">
      <div class="column" style="background-color: aquamarine; text-align: center;">
          <h3>CONTACT US</h3>
          <p>Medical Clinic: 0471-4011441<br>
            Dental Cinic: 0471-4011468<br>
            Physiotherapy Centre: 94464 48725<br> 
            
            docare@medical.in</p>
      </div>
      <div class="column" style="background-color: burlywood; text-align: center;">
        <h3>VISIT US</h3>
        <p>MONDAY - SATURDAY<br><br>
            9.00 AM - 7.00 PM
        </p>
    </div>

    <div class="column" style="background-color: lightslategray; text-align: center;">
      <p>RAISE YOUR COMPLAINTS!</p>
      <button type="button" class="btn btn-outline-primary" (click)="btnClick1();" >Tell Us</button>
    <!-- <div class="column" style="background-color: lightslategray; text-align: center;">
        <h3>TELL US</h3>
        <form>
          <TABLE BORDER="1">
            <TR>
              <TD>Name</TD>
              <TD>
                <INPUT TYPE="TEXT" NAME="name" SIZE="25">
              </TD>
            </TR>
            <TR>
              <TD>E-mail</TD>
              <TD><INPUT TYPE="TEXT" NAME="email" SIZE="25"></TD>
            </TR>
            <TR>
              <TD>Write something</TD>
              <TD><INPUT TYPE="TEXT" NAME="text" SIZE="25"></TD>
            </TR>
          </TABLE>
          <P><INPUT TYPE="SUBMIT" VALUE="Submit" NAME="B1"></P>
          
        </form> -->
    </div>
  </div>
