
<!-- About us -->
<div>
    <header class="header">
      <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;"><b>ABOUT US</b></h1>
    <p>DocCare is a multi-speciality Medical and Dental Hospital offering consultation and treatment in all major specialities. It comes under the Small Healtch Care Organization category under the NABH.<br>
        The Hospital evolved out of the desire of a doctor and his immediate family to create a health care environment of the highest quality, <br>combining the best of both worlds - the professional and personal care traditionally associated with medical practice and the latest in health care technology.
        <br>
        Since the prime mover behind this project happened to be a dental surgeon, the Spring Garden Dental Care Centre took shape and started functioning in April 2003.
       <br> As a holistic approach to the human body was always one of our primary concerns, the Spring Garden Medical Specialists’ and Family Clinic inevitably followed in 2006.</p>
      <h2 style="text-align:center; font-family: Georgia, 'Times New Roman', Times, serif;"><u>OUR MISSION</u></h2>
      <h4 style="text-align:center; font-family: Georgia, 'Times New Roman', Times, serif;"><p><b>Doc Care is dedicated to providing you with personal medical and <br>dental care and treatment of the highest quality, by employing a holistic approach <br>to your health problems,in a professional and patient-friendly atmosphere</b></p></h4>
    </header>
    </div>
<!-- hospital main doctors -->
    <div class="row">
      <div class="column">
        
        <div class="card"><img src="./../../assets/images/maledoctor.jpg">
          <h3>Medical Administrator</h3>
        </div>
      </div>
      <div class="column">
        <div class="card"><img src="./../../assets/images/maledoctor.jpg">
          <h3>Dental Administrator</h3></div>
      </div>
      <div class="column">
        <div class="card"><img src="./../../assets/images/maledoctor.jpg">
          <h3>Hospital Director</h3></div>
      </div>
    </div>
<!-- contact details -->
    <div class="more">
      <div class="row">
          <div class="column" style="background-color: aquamarine; text-align: center;">
              <h3 style="font-family:Georgia, 'Times New Roman', Times, serif;">CONTACT US</h3>
              <p>Medical Clinic: 0471-4011441<br>
                Dental Cinic: 0471-4011468<br>
                Physiotherapy Centre: 94464 48725<br> 
                Bone & Joints Clinic: 0471-4018881<br>
                care@sgmedical.in</p>
          </div>
          <div class="column" style="background-color: burlywood; text-align: center;">
            <h3 style="font-family: 'Courier New', Courier, monospace;">VISIT US</h3>
            <p>MONDAY - SATURDAY<br><br>
                9.00 AM - 7.00 PM
            </p>
        </div>

        <div class="column" style="background-color: lightslategray; text-align: center;">
          <p>RAISE YOUR COMPLAINTS!</p>
          <button type="button" class="btn btn-outline-primary" (click)="btnClick();" >Tell Us</button>
        <!-- <div class="column" style="background-color: lightslategray; text-align: center;">
            <h3 style="font-family: 'Courier New', Courier, monospace;">TELL US</h3>
            <form>
              <TABLE BORDER="1">
                <TR>
                  <TD>Name</TD>
                  <TD>
                    <INPUT TYPE="TEXT" NAME="name" SIZE="25">
                  </TD>
                </TR>
                <TR>
                  <TD>E-mail</TD>
                  <TD><INPUT TYPE="TEXT" NAME="email" SIZE="25"></TD>
                </TR>
                <TR>
                  <TD>Write something</TD>
                  <TD><INPUT TYPE="TEXT" NAME="text" SIZE="25"></TD>
                </TR>
              </TABLE>
              <P><INPUT TYPE="SUBMIT" VALUE="Submit" NAME="B1"></P>
              
            </form>
        </div> -->
      </div>
  </div>
  