<div>
    <header class="header">
        <div>
            <h1 class="hed"><b>WHY DocCare?</b></h1>
        </div>
    </header>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-6" style="background-image: url(./../../assets/images/babyhand.jpg); ">
      </div>
      <div class="col-lg-6" style="background-color:lightyellow;">
        <br><br><br>
        <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 2.5vh;">
             DocCare continuously strives to give you<br> the best medical care and treatment, with both a<br>
             professional and a personal touch. We <br>understand that the healing processes in the <br>
             body are a miracle, and that the health care <br>worker can only, in a spirit of humility, help this <br>
             process along and support it with a thorough <br>knowledge of this process using all the insights <br>
             currently available in the discipline</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" style="background-color:whitesmoke">
            <br><br><br><br>
            <p style="font-size: 4vh; font-family:Georgia, 'Times New Roman', Times, serif; color: darkslategrey;">Why DocCare Medical?</p>
            <br><br>
           <p style="font-size: 3vh; font-family: Georgia, 'Times New Roman', Times, serif; color: darkslategrey;">The Medical Clinic offers you professional 
            <br>medical treatment and personal care and of<br> the highest standard - for you and your<br> whole family, through the 
            <br>concept of the Family Clinic.</p>
        </div>
      <div class="col-lg-6" style="background-image: url(./../../assets/images/vaccination.jpg_fit=scale); ">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6" style="background-image: url(./../../assets/images/dental.jpg); ">
      </div>
      <div class="col-lg-6" style="background-color:whitesmoke">
        <br><br><br>
        <p style="font-size: 4vh; font-family:Georgia, 'Times New Roman', Times, serif;color: darkslategrey;">Why DocCare Dental?</p>
        <br><br>
        <p style="font-size: 3vh; font-family:Georgia, 'Times New Roman', Times, serif; color: darkslategrey;">The DocCare Dental Clinic is a full-fledged
            <br>dental clinic offering you the <br> complete range of dental care and <br> under one roof.​</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" style="background-color:whitesmoke;">
            <br><br><br>
            <p style="font-size: 4vh; font-family: Georgia, 'Times New Roman', Times, serif; color: darkslategrey;">Why DocCare Physiotherapy?</p>
            <br><br>
            <p style="font-size: 3vh; font-family: Georgia, 'Times New Roman', Times, serif; color: darkslategrey;">DocCare Physiotherapy is a<br> professionally managed centre offering you<br> 
                the complete range of physical and <br> rehabilitation therapies, with a dedicated,<br> qualified and trained team working under<br> the supervision of the Orthopedicians.</p>
          </div>
      <div class="col-lg-6" style="background-image: url(./../../assets/images/physiotherapy.jpg); ">
      </div>
    </div>
  </div>
  <div class="more">
    <div class="row">
        <div class="column" style="background-color: aquamarine; text-align: center;">
            <h3 style="font-family:Georgia, 'Times New Roman', Times, serif;">CONTACT US</h3>
            <p>Medical Clinic: 0471-4011441<br>
              Dental Cinic: 0471-4011468<br>
              Physiotherapy Centre: 94464 48725<br> 
              Bone & Joints Clinic: 0471-4018881<br>
              care@sgmedical.in</p>
        </div>
        <div class="column" style="background-color: burlywood; text-align: center;">
          <h3 style="font-family: 'Courier New', Courier, monospace;">VISIT US</h3>
          <p>MONDAY - SATURDAY<br><br>
              9.00 AM - 7.00 PM
          </p>
      </div>

      <div class="column" style="background-color: lightslategray; text-align: center;">
        <p>RAISE YOUR COMPLAINTS!</p>
        <button type="button" class="btn btn-outline-primary" (click)="btnClick();" >Tell Us</button>
      <!-- <div class="column" style="background-color: lightslategray; text-align: center;">
          <h3 style="font-family: 'Courier New', Courier, monospace;">TELL US</h3>
          <form>
            <TABLE BORDER="1">
              <TR>
                <TD>Name</TD>
                <TD>
                  <INPUT TYPE="TEXT" NAME="name" SIZE="25">
                </TD>
              </TR>
              <TR>
                <TD>E-mail</TD>
                <TD><INPUT TYPE="TEXT" NAME="email" SIZE="25"></TD>
              </TR>
              <TR>
                <TD>Write something</TD>
                <TD><INPUT TYPE="TEXT" NAME="text" SIZE="25"></TD>
              </TR>
            </TABLE>
            <P><INPUT TYPE="SUBMIT" VALUE="Submit" NAME="B1"></P>
            
          </form>
      </div> -->
    </div>
</div>

