<!-- carousal -->
<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./../../assets/images/corousel1.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <H2>WE CAN FIGHT CORONA TOGETHER!</H2>
        <H2><p>STAY SAFE, STAY HEALTHY...</p></H2>
        <H2><p>BOOK YOUR VACCINATION SLOTS NOW</p></H2>
        <H2><P>CALL: 9996532189</P></H2>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./../../assets/images/corousel2.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h2>BOOK YOUR APPOINTMENT</h2>
        <H2><P>RECEPTION: 9996532121</P></H2>
        <H2><P>MEDICAL CLINIC: 9996532121</P></H2>
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./../../assets/images/dep.jpeg" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h2 >BOOK YOUR APPOINTMENT</h2>
        <H2><P>RECEPTION: 9996532121</P></H2>
        <H2><P>MEDICAL CLINIC: 9996532121</P></H2>
      </div>
    </ng-template>
  </ngb-carousel>


<!--container  -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" style="background-image: url(./../../assets/images/docare.jpg); ">
    </div>
    <div class="col-lg-6" style="background-color:lightyellow;">
      <br><br><br><br><h2><p style="font-size: 4vh; font-family:'Courier New', Courier, monospace; color: darkslategrey;">
        DOC CARE</p></h2><br>
      
      <h3><p>Doc Care Medical Clinic serves you in many ways. 
        An understanding of our services could give you a better idea of how we could help you</h3>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="col-lg-6" style="background-color:whitesmoke">
          <br><br><br><br>
          <p style="font-size: 4vh; font-family:'Courier New', Courier, monospace; color: darkslategrey;"> MEDICAL CLINIC</p>
          <br><br>
         <h3><p>Bringing back holistic treatment and personal and professional 
          care of the highest standards along with the concept of the Family Physician.</p></h3>
      </div>
    <div class="col-lg-6" style="background-image: url(./../../assets/images/bloodpressure.jpeg); ">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" style="background-image: url(./../../assets/images/covid.jfif); ">
    </div>
    <div class="col-lg-6" style="background-color:lightyellow;">
      <br><br><br><br><h2><p style="font-size: 4vh; font-family:'Courier New', Courier, monospace; color: darkslategrey;">
        COVID VACCINATION</p></h2><br>
      
      <p><h2>VACCINATION IS NOW<P>AVAILABLE</P><p>CONTACT</p><p>9996532189</p></h2>
        
    </div>
  </div>
</div>



  
<!-- contact details-->
  <div class="more">
    <div class="row">
        <div class="column" style="background-color: aquamarine; text-align: center;">
            <h3>CONTACT US</h3>
            <p>Medical Clinic: 0471-4011441<br>
              Dental Cinic: 0471-4011468<br>
              Physiotherapy Centre: 94464 48725<br> 
              
              docare@medical.in</p>
        </div>
        <div class="column" style="background-color: burlywood; text-align: center;">
          <h3>VISIT US</h3>
          <p>MONDAY - SATURDAY<br><br>
              9.00 AM - 7.00 PM
          </p>
      </div>
      <div class="column" style="background-color: lightslategray; text-align: center;">
        <p>RAISE YOUR COMPLAINTS!</p>
        <button type="button" class="btn btn-outline-primary" (click)="btnClick();" >Tell Us</button>

          <!-- <h3>TELL US</h3>
          <form>
            <TABLE BORDER="1">
              <TR>
                <TD>Name</TD>
                <TD>
                  <INPUT TYPE="TEXT" NAME="Name" SIZE="25">
                </TD>
              </TR>
              <TR>
                <TD>E-mail</TD>
                <TD><INPUT TYPE="TEXT" NAME="Email" SIZE="25"></TD>
              </TR>
              <TR>
                <TD>Write something</TD>
                <TD><INPUT TYPE="TEXT" NAME="Comments" SIZE="25"></TD>
              </TR>
            </TABLE>
            <P><INPUT TYPE="SUBMIT" VALUE="Submit" (click)="add()" NAME="B1"></P>
            
          </form> -->
      </div>
    </div>