<div>
    <header class="header">
        <div>
            <p class="hed"><b>SERVICES</b></p>
        </div>
    </header>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-6" style="background-image: url(./../../assets/images/babyhand.jpg); ">
      </div>
      <div class="col-lg-6" style="background-color:lightyellow;">
        <br><br><br>
        <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 25px;">
            DocCare Medical Clinic serves <br>you in many ways. An understanding of <br>
            our services could give you a better<br> idea of how we could help you</h1>
      </div>
    </div>
  </div>
 
  <div class="box">
    <p class="icon-head">
      <i class="fa fa-user-md" style="font-size:40px;color:black"></i>
        FAMILY DOCTOR</p><br>
      <p class="icon-para">Ask for a Family Physician on your first visit to get personal care <br><br>
        and guidance for the holistic treatment of your problems</p>  
</div>
<div class="box">
    <p class="icon-head">
        <i class="fa fa-stethoscope" style="font-size:40px;color:black"></i>
        SPECIALIST CONSULTATIONS</p><br>
      <p class="icon-para">
        Let your Family Physician refer you to the most experienced specialists <br><br>
         either at the Clinic or outside, for you to get the most appropriate treatments.</p>  
</div>
<div class="box">
  <p class="icon-head">
      <i class="	fa fa-phone-square" style="font-size:40px;color:black"></i>
      DOCTOR-ON-CALL SERVICE</p><br>
    <p class="icon-para">Give special care to your dear ones unable to visit the clinic when our <br><br>
      experienced Family Physician will provide non-emergency medical<br><br>
      consultation and treatment at your home.</p>  
</div>
<div class="box">
  <p class="icon-head">
      <i class="fa fa-medkit" style="font-size:40px;color:black"></i>
      PHARMACY</p><br>
    <p class="icon-para">
      All the quality medicines you may need, from reputed pharmaceutical<br><br>
       companies, are available at the Clinic or through <br><br>online purchase and home delivery.</p>  
</div>
<div class="box">
  <p class="icon-head">
      <i class="	fa fa-file-text" style="font-size:40px;color:black"></i>
      EXECUTIVE HEALTH CHECKUP</p><br>
    <p class="icon-para">
      Get an overall assessment of you general health status to help you adopt<br><br>
       valid preventive measures to keep you healthy and fit in  the long run.</p>  
</div>
<div class="box">
    <p class="icon-head">
        <i class="fa fa-wheelchair" style="font-size:40px;color:black"></i>
        SURGERY</p><br>
      <p class="icon-para">Get necessary and mandated surgery done in various specialties by our <br><br>
        panel of experienced surgeons under the personal care and monitoring<br><br> of your Family Physician.</p>  
</div>
<div class="box">
    <p class="icon-head">
        <i class="	fa fa-bed" style="font-size:40px;color:black"></i>
        PHYSIOTHERAPY & REHABILITATION </p><br>
      <p class="icon-para">Enjoy the expert services of the bio-mechanics team comprising of<br><br>
         experienced orthopaedicians and physiotherapists who work together to<br><br>
          take care of all your physiotherapy and rehabilitation requirements</p>  
</div>
<div class="box">
    <p class="icon-head">
        <i class="fa fa-wheelchair-alt" style="font-size:40px;color:black"></i>
        CHRONIC CONDITIONS MANAGEMENT</p><br>
      <p class="icon-para">Avail the services of focus group clinics which target the management of<br><br>
         chronic diseases like diabetes, hypertension, etc through in-depth treatment<br><br>
          protocols involving medication, diet, exercises and nutrition.</p>  
</div>
<div class="box">
    <p class="icon-head">
        <i class="fa fa-heartbeat" style="font-size:40px;color:black"></i>
        NEUROLOGICAL CONDITIONS MANAGEMENT</p><br>
      <p class="icon-para">Our team of super-specialists in Neurology will ensure that you get<br><br>
         continuous support to manage neurological conditions like headache,<br><br>
          stroke, epilepsy, paralysis, Parkinson's etc</p>  
</div>
<div class="box">
    <p class="icon-head">
        <i class="fa fa-laptop" style="font-size:40px;color:black"></i>
        ONLINE CONSULTATIONS</p><br>
      <p class="icon-para">
        Consult any of our doctors from the convenience of your home if you are<br><br>
         unable to visit the clinic or if your doctor recommends the same.</p>  
</div>
<div class="box">
    <p class="icon-head">
        <i class="fa fa-leaf" style="font-size:40px;color:black"></i>
        NUTRITIONAL GUIDANCE</p><br>
      <p class="icon-para">
        Get detailed nutritional guidance based on your personal health status from<br><br>
         our team of nutritionists who are in turn guided by the Family Physicians.
        </p>  
</div>
<div class="box">
    <p class="icon-head">
        <i class="fa fa-thermometer-2" style="font-size:50px;color:black"></i>        
        DIAGNOSTIC SERVICES</p><br>
      <p class="icon-para">
        Our state-of-the-art laboratory, under the quality control of CMC, Vellore,<br><br>
         offers you reliable, consistent and valid diagnostic tests.</p>  
</div>
<div class="box">
    <p class="icon-head">
        <i class="	fa fa-child" style="font-size:50px;color:black"></i>       
        PREGNANCY AND ANTE-NATAL CARE</p><br>
      <p class="icon-para">Experience a worry-free pregnancy when the expectant mother is guided <br><br>
        at every step right from conception through childbirth and after </p>  
</div>
<div class="box">
    <p class="icon-head">
        <i class="fa fa-eyedropper" style="font-size:50px;color:black"></i>        
        CHILD AND ADULT VACCINATIONS</p><br>
      <p class="icon-para">Get all the recommended vaccinations, for both children and adults, at<br><br>
         our vaccination centre, under the watchful care of our family physicians</p>  
</div>
<div class="box">
    <p class="icon-head">
        <i class="fa fa-h-square" style="font-size:50px;color:black"></i>
        MINOR PROCEDURES</p><br>
      <p class="icon-para">A full -fledged minor operation theatre takes care of all medical procedures,<br><br>
         both surgical and otherwise, which do not need overnight admission.</p>  
</div>
<div class="box">
    <p class="icon-head">
        <i class="fa fa-universal-access" style="font-size:50px;color:black"></i>
        FITNESS AND  EXERCISE CENTRE</p><br>
      <p class="icon-para">Our qualified Physical Trainer, in coordination with the physiotherapist and<br><br>
         orthopedician, will design the ideal fitness and exercise regimen for you</p>  
</div>
<div class="more">
  <div class="row">
      <div class="column" style="background-color: aquamarine; text-align: center;">
          <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;">CONTACT US</h3>
          <p>Medical Clinic: 0471-4011441<br>
            Dental Cinic: 0471-4011468<br>
            Physiotherapy Centre: 94464 48725<br> 
            Bone & Joints Clinic: 0471-4018881<br>
            care@sgmedical.in</p>
      </div>
      <div class="column" style="background-color: burlywood; text-align: center;">
        <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;">VISIT US</h3>
        <p>MONDAY - SATURDAY<br><br>
            9.00 AM - 7.00 PM
        </p>
    </div>

    <div class="column" style="background-color: lightslategray; text-align: center;">
      <p>RAISE YOUR COMPLAINTS!</p>
      <button type="button" class="btn btn-outline-primary" (click)="btnClick();" >Tell Us</button>
    <!-- <div class="column" style="background-color: lightslategray; text-align: center;">
        <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;">TELL US</h3>
        <form>
          <TABLE BORDER="1">
            <TR>
              <TD>Name</TD>
              <TD>
                <INPUT TYPE="TEXT" NAME="name" SIZE="25">
              </TD>
            </TR>
            <TR>
              <TD>E-mail</TD>
              <TD><INPUT TYPE="TEXT" NAME="email" SIZE="25"></TD>
            </TR>
            <TR>
              <TD>Write something</TD>
              <TD><INPUT TYPE="TEXT" NAME="text" SIZE="25"></TD>
            </TR>
          </TABLE>
          <P><INPUT TYPE="SUBMIT" VALUE="Submit" NAME="B1"></P>
          
        </form>
    </div> -->
  </div>
</div>
<div>
    <img src="" alt="">
</div>
